@import "scss/center-roman.css";
@import "scss/footer.css";
@import "scss/about-me.css";
@import "scss/me-img.css";
@import "scss/background.css";
@import "scss/button-center.css";
@import "scss/hidden-menu.css";
@import "scss/roman-maidan.css";
@import "scss/colors.css";
@import "scss/about--center-cont.css";
@import "scss/fixed-R-menu.css";
@import "scss/page-work.css";
@import "scss/cont-site.css";
@import "scss/navigation-btn.css";
@import "scss/svg.css";
@import "scss/preloader.css";


body {
  cursor: default;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #10171B;


  p{
    margin: 0;
    padding: 0;
  }

  .displayNone{
    display: none!important;
  }

  .opacityTrans{
    z-index: -10;
    opacity: 0;
    transition: .5s;
  }

  a{
    text-decoration: none;
    &:focus{
      outline: none;
    }
  }

  .cursor{
    cursor: pointer;
  }

  .right{
    right: 0;
  }



}

