.about--center-cont{
  font-family: "Montserrat", sans-serif;
  background-color: #fff;

  .center-cont-half{
    width: 80%;
    padding: 100px 0;
    display: flex;
    margin: auto;

    .half-cont{
      min-width: 50% ;

      h4 {
        font-size: 8em;
        font-weight: bold;
        margin: 0;
      }
      p{
        font-size: 2em;
        font-weight: 500;
        line-height: 1.8em;
        opacity: 0.8;
      }

      .cont-resume{
        text-align: center;
        padding: 3em;

        a{
          font-size: 2em;
          font-weight: 600;
        }
      }
    }
  }
}




@media only screen and (max-width: 1440px) {
  .about--center-cont{
    .center-cont-half{
      .half-cont{
        h4 {
          font-size: 6em;
        }
        p{
          font-size: 23px;
        }
        .cont-resume{
          a{
            font-size: 26px;
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 1024px) {
  .about--center-cont{
    .center-cont-half{
      .half-cont{
        h4 {
          font-size: 4em;
        }
        p{
          font-size: 20px;
          line-height: 1.5em;
        }
        .cont-resume{
          padding: 1.5em;
          a{
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .about--center-cont{
    .center-cont-half{
      flex-direction: column;
      width: 70%;
      .half-cont{
        p{
          font-size: 18px;
          line-height: 1.5em;
        }
        .cont-resume{
          padding: 5.5em 0 0 ;
        }
      }
    }
  }
}


@media only screen and (max-width: 550px) {
  .about--center-cont{
    .center-cont-half{
      .half-cont{
        h4 {
          font-size: 3em;
        }
        p{
          font-size: 17px;
        }
      }
    }
  }
}
