@import "colors.scss";

.centerRoman{
  position: absolute;
  width: 100%;
  text-align: center;

  .bigR  {
    white-space: nowrap;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: all, 1s;

    i{
      color: $red;
      font-size: 200px;
      font-weight: bold;
      font-style: normal;
      transition: .5s;

    }

    .oman-hidden{
      max-width: 0;
      display: inline-block;
      transition: all .2s .2s linear;

    }

    .oman-active{
      transition: all .2s 0s linear;
      display: inline-block;
      max-width: 640px;


    }



    .roman--i--after {
      font-size: 300px;
      opacity: 0;

    }



  }






}




@media only screen and (max-width: 1024px) {

  .centerRoman{

    .bigR{

      i{
        font-size: 160px;
      }

      .roman--i--after {
        font-size: 400px;
        opacity: 0;

      }

    }
  }

}


@media only screen and (max-width: 850px) {

  .centerRoman{

    .bigR{

      i{
        font-size: 75px;
      }

      .roman--i--after {
        font-size: 200px;
        opacity: 0;

      }

    }
  }

}
