.cont-site{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: .3s;


  .screen-site{
    margin: 5% 0;
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    transition: .3s;


    &:hover{
      width: 70%;
      transition: .3s;
      cursor: pointer;
    }

    &:hover .web-text{
      font-size: 70px;
      transition: .5s;
      opacity: 1;

    }

    img{
      width: 100%;
      opacity: .9;
      transition: .5s;
    }

    img:hover{
      transition: .5s;
      opacity: .4;
    }

    .web-text{
      position: absolute;
      font-family: "Montserrat", sans-serif;
      font-size: 55px ;
      font-weight: 600;
      color: #fff;
      transition: .5s;
      opacity: .2;

    }
  }



}


.margin-top{
  transition: .3s;
  margin-top: -10%;
}

.opacity{
  opacity: 0;
  transition: .5s;
}
