


.footer{
  display: flex;
  justify-content: center;


  .fixedRDown{
    margin: 2em 0;
    padding: 1em 5em;
    position: relative;
    top: 0;
    left: 0;



    //.bigR  {
    //  white-space: nowrap;
    //  font-family: 'Ibarra Real Nova', cursive;
    //  transition: all, 1s;
    //  letter-spacing: -3px;
    //
    //  i{
    //    color: black;
    //    font-size: 40px;
    //    font-weight: bold;
    //    font-style: normal;
    //    transition: .5s;
    //  }
    //
    //  .oman-hidden{
    //    max-width: 0;
    //    display: inline-block;
    //    transition: all .15s .1s linear;
    //
    //
    //    i{
    //      opacity: 0;
    //    }
    //    i:nth-child(1) {
    //      transition: all 0.1s 0.3s linear;
    //    }
    //    i:nth-child(2) {
    //      transition: all 0.1s 0.2s linear;
    //    }
    //    i:nth-child(3) {
    //      transition: all 0.1s 0.1s linear;
    //    }
    //    i:nth-child(4) {
    //      transition: all 0.1s 0s linear;
    //    }
    //
    //  }
    //
    //  .oman-active{
    //    transition: all .15s 0s linear;
    //    display: inline-block;
    //    max-width: 90px;
    //
    //    i{
    //      opacity: 1;
    //    }
    //
    //    i:nth-child(1) {
    //      transition: all 0.15s 0.1s linear;
    //    }
    //    i:nth-child(2) {
    //      transition: all 0.1s 0.15s linear;
    //    }
    //    i:nth-child(3) {
    //      transition: all 0.1s 0.2s linear;
    //    }
    //    i:nth-child(4) {
    //      transition: all 0.1s 0.25s linear;
    //    }
    //  }
    //
    //
    //
    //
    //
    //
    //
    //}

  }




}
