@import "colors.scss";

.nav-btn{
  font-size: 17px;
  position: fixed;
  transition: .3s;
  opacity: 1;
}

.work-btn--about-me{
  color: $red;
  left: 0;

  &:hover{
    padding-left: 2em;
    transition: .3s;
  }
}
.left-5{
  left: -5%;
  opacity: 0;
  transition: .3s;
}

.about-btn--work{
  right: 0;

  &:hover{
    padding-right: 2em;
    transition: .3s;
  }

  .arrow::before{
    background: $red;
  }

  .arrow::after{
    border-left-color: $red;
  }
}

.right-5{
  z-index: -10;
  right: -5%;
  opacity: 0;
  transition: .3s;
}

.work-btn-center{
  bottom: 50%;
  transition: .3s;

  .arrow::before{
    background: $red;
  }

  .arrow::after{
    border-left-color: $red;
  }
}

.work-btn-down{
  bottom: 5%;
  color: #000000;

  &:hover{
    color: $red;
  }

  .arrow::before{
    background: black;
  }

  .arrow::after{
    border-left-color: black;
  }
}

.about-btn-center{
  z-index: 1000;
  bottom: 50%;
  transition: .3s;

//  .arrow::before{
//    background: $red;
//  }
//
//  .arrow::after{
//    border-left-color: black;
//  }
}

.about-btn-down{
  bottom: 5%;
  color: #ffffff;

  &:hover{
    color: $red;
  }

  .arrow::before{
    background: white;
  }

  .arrow::after{
    border-left-color: white;
  }
}


