.contAboutMe{
  display: flex;
  align-items: center;

  .center--block{
    width: 100%;
    display: flex;
    justify-content: center;

    .text--content{
      width: 65%;

      h1{
        margin: 0;
        font-size: 40px;
        font-weight: 800;
        font-family: 'Raleway', sans-serif ;
        letter-spacing: 1px;
        white-space: nowrap;
      }

      p{
        font-family: "Montserrat", sans-serif;
        margin: -10px 0;
        padding-left: 5px;
        font-size: 85px;
        font-weight: 800;
        letter-spacing: 3px;
      }
      p:nth-of-type(4){
        font-size: 55px;
      }
    }
  }

  .learn-more{
    font-size: 21px;
    position: absolute;
    transform-origin: 100% 100%;
    transform: rotate(90deg);
    white-space: nowrap;
    bottom: 0;
    right: 95%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    opacity: .5;

    .line{
      content: "";
      width: 30px;
      height: 2px;
      vertical-align: middle;
      display: inline-block;
      background: #000000;
    }

  }
}

@media only screen and (max-width: 1440px) {
  .contAboutMe {
    .center--block {
      .text--content {
        h1 {
          font-size: 35px;
        }

        p {
          font-size: 68px;
        }

        p:nth-of-type(4) {
          font-size: 55px;
        }
      }
    }
    .learn-more {
      font-size: 17px;
      .line {
        width: 25px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .contAboutMe {
    .center--block {
      .text--content {
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 45px;
        }
        p:nth-of-type(4) {
          font-size: 35px;
        }
      }
    }
    .learn-more {
      font-size: 12px;
      .line {
        width: 20px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .contAboutMe {
    .center--block {
      .text--content {
        h1 {
          font-size: 25px;
        }

        p {
          font-size: 35px;
        }

        p:nth-of-type(4) {
          font-size: 25px;
        }
      }
    }
    .learn-more {
      font-size: 12px;
      .line {
        width: 20px;
      }
    }
  }
}
